# Ignorar arquivos de configuração do Visual Studio Code
.vscode/

# Arquivos gerados pelo Flex
lex.yy.c

# Arquivos gerados pelo Bison
parser.tab.c
parser.tab.h
parser.output
parser.gv

# Executáveis compilados
analisador_lexico
penelope_parser

# Arquivos de saída e temporários
*.o
*.out
output/

# Arquivos de debug
*.dSYM/
core