# Ignorar arquivos de configuração do Visual Studio Code
.vscode/

# Diretório de build (arquivos gerados)
build/
.parser.gv

# Executável principal
penelope_parser

# Arquivos de saída e temporários
*.o
*.out
output/

# Arquivos temporários do sistema
.DS_Store
*~
*.tmp

# Arquivos de debug
*.dSYM/
core